@model ZenGrantsManager.Models.ProjectBudget

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectBudget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.OrgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetItemDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetItemDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentageAllocated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentageAllocated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
