@model IEnumerable<ZenGrantsManager.Models.CustomApplicationDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Organization.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgApplication.ApplicantReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Programme.ProgrammeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposalTemplate.FieldLabel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldUserInput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.OrgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgApplication.ApplicantReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Programme.ProgrammeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposalTemplate.FieldLabel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldUserInput)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
