@model ZenGrantsManager.Models.ProjectRisk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectRisk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.OrgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskMitigation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskMitigation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskDocument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
