@model ZenGrantsManager.Models.Subscription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.OrgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastRenewalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastRenewalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
