@model ZenGrantsManager.Models.ProjectActivity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectActivity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dependency.ActivityTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dependency.ActivityTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.OrgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectMeeting.MeetingTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectMeeting.MeetingTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectTeam.TeamMemberReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectTeam.TeamMemberReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDocumentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDocumentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Milestone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Milestone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
