@model IEnumerable<ZenGrantsManager.Models.ProjectActivity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dependency.ActivityTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectMeeting.MeetingTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectTeam.TeamMemberReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDocumentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Milestone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dependency.ActivityTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.OrgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectMeeting.MeetingTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectTeam.TeamMemberReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityDocumentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Milestone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
