@model ZenGrantsManager.Models.ProjectActivityComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectActivityComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.OrgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectActivity.ActivityTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectActivity.ActivityTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentDescription)
        </dd>

       
        <dt>
           Attachment
        </dt>

        <dd>
            <a href="@Html.Raw(Model.LocalFilePath)">Download Document</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
